html,
body,
#root {
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Roboto Black */
@font-face {
  font-family: 'Figtree-VariableFont_wght';
  src: url('../public/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}
body {
  font-family: 'Figtree-VariableFont_wght', sans-serif;
}

